<div class="app-content content">
  <div class="content-wrapper">
    <app-titlelink [TitleText]="Title"></app-titlelink>
    <div class="content-body">
      <section class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="card-text">
                  <div class="row">
                    <div class="col-4 ml-auto">
                      <div class="md-form">
                        <input mdbInputDirective type="text" class="form-control" name="searchname" data-success=" " id="searchname"
                          [(ngModel)]="searchname" ngModel="searchname" (ngModelChange)="search($event)">
                        <label for="searchname">Rechercher</label>
                      </div>
                    </div>
                  </div>
                  <table class="table table-striped table-responsive-md">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th width="70"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let d of departments | paginate: config">
                        <td>{{ d.id }}</td>
                        <td>{{ d.name }}</td>
                        <td>
                          <i (click)="edit(editmodal,d)" class="fa fa-pencil ti edit"></i>
                          <i (click)="delete(d.id)" class="fa fa-trash-o ti delete"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="has-text-centered">
                    <pagination-controls [id]="config.id" [responsive]="true" [previousLabel]="labels.previousLabel"
                      [nextLabel]="labels.nextLabel" [maxSize]="7" (pageChange)="onPageChange($event)"></pagination-controls>
                  </div>
                  <ng-template #add let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h4 class="modal-title">Ajouter un département</h4>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form [formGroup]="newTsForm">
                        <div class="md-form">
                          <input mdbInputDirective type="text" id="name" class="form-control" name="name" data-error="Nom invalide"
                            data-success=" " formControlName="name" [(ngModel)]="name">
                          <label for="name" class="">Nom</label>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button mdbBtn type="button" color="secondary" class="waves-light square mb-1 float-md-right"
                        mdbWavesEffect (click)="save(newTsForm)" [disabled]="!newTsForm.valid">Enregistrer
                      </button>
                    </div>
                  </ng-template>
                  <ng-template #editmodal let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h4 class="modal-title">Modifier département</h4>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form [formGroup]="newTsForm">
                        <div class="md-form">
                          <input mdbInputDirective type="text" class="form-control" name="name" data-error="Nom invalide"
                            data-success=" " formControlName="name" [(ngModel)]="name">
                          <label for="name" class="">Nom</label>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button mdbBtn type="button" color="secondary" class="waves-light square mb-1 float-md-right"
                        mdbWavesEffect (click)="update(newTsForm)" [disabled]="!newTsForm.valid">Enregistrer
                      </button>
                    </div>
                  </ng-template>
                  <button mdbBtn type="button" color="primary" class="waves-light square mb-1 float-md-right" (click)="new(add)"
                    mdbWavesEffect>Ajouter
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
