.error{
    display: none;
    margin-bottom: 10px;
    font-weight: bold;
    color: #FFF;
    padding: 7px;
    background: red;
}
.errors {
    background: rgba(255, 0, 0, 0.5);
    border-radius: 5px;
    display: none;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    margin-top: 5px;
}

.errors ul {
    list-style: none;
    margin-left: -39px;
}