<div class="app-content content">
  <div class="content-wrapper">
    <app-titlelink [TitleText]="Title"></app-titlelink>
    <div class="content-body">
      <section class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="card-text">
<button (click)="alert()">The Internet?</button>
                  <table class="table table-striped table-responsive-md">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th width="70"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ts of typestage">
                        <td>{{ ts.id }}</td>
                        <td>{{ ts.name }}</td>
                        <td>
                          <i [routerLink]="['/aircraft', ts.id]" class="fa fa-pencil ti edit"></i> <i [routerLink]="['/aircraft', ts.id]" class="fa fa-trash-o ti delete"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <ng-template #add let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h4 class="modal-title">Ajouter Type Stage</h4>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="md-form">
                        <input mdbInputDirective type="text" id="form1" class="form-control">
                        <label for="form1" class="">Example label</label>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                    </div>
                  </ng-template>
                  <button class="btn btn-dark square btn-min-width mb-1 float-md-right" (click)="btnAdd(add)">Ajouter</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>